* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

h5 {
  text-align: center;
  margin-top: 3rem;
}

.b-display {
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.create-btn {
  padding-bottom: 0.5rem;
}

th {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.fa {
  font-size: larger;
}

textarea {
  height: 130px;
}

button {
  text-transform: uppercase;
}

.form-body {
  background-color: #eee;
  margin-top: 10rem;
  width: 40%;
  padding: 2%;
  border-radius: 15px;
}

p {
  font-size: 1.8rem;
}
